<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92ec79">  <td>19/02/17 13:22:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:bl.framework.testcases.CreateLead@10bdf5e5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>19/02/17 13:22:33</td>   <td>-948</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:bl.framework.testcases.CreateLead@10bdf5e5]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:22:48</td>   <td>14701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.CreateLead@10bdf5e5]">createLead</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:22:49</td>   <td>14750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.CreateLead@10bdf5e5]">createLead</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:22:49</td>   <td>14787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.CreateLead@10bdf5e5]">createLead</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>19/02/17 13:22:36</td>   <td>2409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.CreateLead@10bdf5e5]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="ceabc1">  <td>19/02/17 13:22:34</td>   <td>-29</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:bl.framework.testcases.CreateLead@10bdf5e5]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
</table>
